<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <packageSources>
    <!-- remove any machine-wide sources with <clear/> -->
    <clera />
    <!-- add a Team Services feed -->
    <add key="pates" value="https://pate90.pkgs.visualstudio.com/_packaging/ACMCommon/nuget/v3/" />
    <!-- also get packages from the NuGet Gallery -->
    <add key="nuget.org" value="https://api.nuget.org/v3/" />
  </packageSources>
</configuration>